//// Custom styles.
//body {
//    background:url(https://source.unsplash.com/user/erondu/1600x900);
//    background-repeat: no-repeat;
//    background-attachment:fixed;
//    background-position:50% 50%;
//}
//
//.main-inner { 
//    padding: 60px 60px 60px 60px;
//    background: #fff;
//    min-height: 500px;
//}
